body {
  background-color: #ffebcd;
  font-family: 'Delicious Handrawn';
  font-size: 22px;
  border: 3px dashed brown;
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
}

h1,h2,h3 {
  color: brown
  fontsize: 30px;
}

.ingredients-container {
  display: flex;
  gap: 20px;
}

.ingredients h3 {
  flex: 1;
  text-align: center;
}

button,
input[type="submit"] {
  background-color: pastel purple;
  font-family: 'Delicious Handrawn';
  font-color: dark purple;
  font-size: 10px;
  border: 2px brown;
}

button:hover,
input[type"submit"]:hover {
  font-color: brown;
  border: 5px solid brown;
  font-size: 15px;
}

