body {
  background-color: #ffebcd;
  font-family: 'Delicious Handrawn';
  fontsize: 50px;
  color: #8b4513;
  border: 3px dashed #8b4513;
  margin: 3px;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  fontsize: 80px;
}

h2,h3 {
  fontsize: 60px;
}

.ingredients-container {
  display: flex;
  gap: 20px;
}

.ingredients h3 {
  flex: 1;
  text-align: center;
}

button,
input[type="submit"] {
  background-color: pastel purple;
  font-family: 'Delicious Handrawn';
  color: dark purple;
  fontsize: 10px;
  border: 2px #8b4513;
}

button:hover,
input[type"submit"]:hover {
  color: #8b4513;
  border: 5px solid #8b4513;
  fontsize: 15px;
}

